{% extends 'master.html' %}
{% load static %}
{% block content %}

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3">
                    <div class="intro-excerpt">
                        <h1>Checkout</h1>
                    </div>
                </div>
                <div class="col-lg-3">
{#                    <img src="{% static 'images/other-images/checkkt.png' %}" class="img-fluid">#}
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="border p-4 rounded" role="alert">
                        Returning customer? <a href="{% url 'login-url' %}">Click here</a> to login
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-10 mb-5 mb-md-0">
                        <h2 class="h3 mb-3 text-black">Billing Details</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <label for="c_postal_zip" class="text-black">Postal Code <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-5">
                            <div class="col-md-6">
                                <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                            </div>
                            <div class="col-md-6">
                                <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="c_order_notes" class="text-black">Order Notes</label>
                            <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row mb-5">
                        <form method="post" action="" class="col-md-12">
                            {% csrf_token %}
                            <h2 class="h3 mb-3 text-black">Your Order</h2>
                            <div class="p-3 p-lg-5 border bg-white">
                                 <fieldset>
                                    <input class="form-control" value="Item: {{ product.name }}" readonly type="text"><br>
                                    <input name="price" class="form-control" value="Amount: Ksh. {{ product.price }}" readonly type="text"><br>
                                    <label for="phone-number" class="text-black">Phone <span class="text-danger">*</span></label>
                                    <input name="phone" type="text" class="form-control"  placeholder="Enter Phone Number 254...">
                                    <br>
                                </fieldset>
                                <div class="border p-3 mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Lipa na M-PESA</a></h3>
                                </div>
                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account via M-PESA. Please click the "Lipa na M-PESA button and wait for the prompt on your phone.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-black btn-lg py-3 btn-block" value="Lipa na M-PESA" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
