{% extends 'master.html' %}
{% load static %}
{% block content %}
    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">

            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/top-10-immunity-boosting-foods-for-kids/" class="post-thumbnail" target="_blank">
                            <img class="img-fluid" src="{% static 'images/blog-images/Immunity-Boosting-Foods-for-Kids-650x420.jpg' %}" alt="Image">
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/top-10-immunity-boosting-foods-for-kids/" target="_blank">Top 10 Immunity Boosting Foods for Kids</a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/top-10-immunity-boosting-foods-for-kids/" target="_blank">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/importance-of-nutrition-nutritional-requirements-and-guidelines-during-pregnancy/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/New-Project-650x450.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/importance-of-nutrition-nutritional-requirements-and-guidelines-during-pregnancy/" target="_blank">Importance of Nutrition during Pregnancy</a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/importance-of-nutrition-nutritional-requirements-and-guidelines-during-pregnancy/" target="_blank">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/12-natural-anti-aging-foods-for-glowing-skin/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/12-Natural-Anti-Aging-Foods-for-Glowing-Skin-650x450.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/12-natural-anti-aging-foods-for-glowing-skin/" target="_blank">12 Natural Anti-Aging Foods for Glowing Skin</a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/12-natural-anti-aging-foods-for-glowing-skin/" target="_blank">lovneet</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://www.healthstandnutrition.com/mindful-eating-for-health/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/website-thumbnail-2-1.png' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://www.healthstandnutrition.com/mindful-eating-for-health/" target="_blank">5 Steps to Practice Mindful Eating</a></h3>
                            <div class="meta">
                                <span>by <a href="https://www.healthstandnutrition.com/mindful-eating-for-health/" target="_blank">Lele Palmer</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://www.healthstandnutrition.com/gestational-diabetes-diet/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/Gestational-diabetes-diet-and-nutrition.png' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://www.healthstandnutrition.com/gestational-diabetes-diet/" target="_blank">Gestational Diabetes Diet and Nutrition Guidelines</a></h3>
                            <div class="meta">
                                <span>by <a href="https://www.healthstandnutrition.com/gestational-diabetes-diet/" target="_blank">Nikki Davis</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/7-day-detox-program-with-nutrition-by-lovneet/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/7-day-detox-program-with-nutrition-by-lovneet-650x380.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/7-day-detox-program-with-nutrition-by-lovneet/" target="_blank">7-Day Detox Diet Program: Time to Get Healthy </a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/7-day-detox-program-with-nutrition-by-lovneet/" target="_blank">Christine</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/mulberry-magic/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/Skin-Health-Benefits-of-Mulberry.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/mulberry-magic/" target="_blank">Skin & Health Benefits of Mulberry</a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/mulberry-magic/" target="_blank">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/pcos-diet-foods-to-eat-foods-to-avoid/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/Pcos-diet-foods-to-eat-foods-to-avoid.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/pcos-diet-foods-to-eat-foods-to-avoid/" target="_blank">Foods To Eat & Avoid with PCOS </a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/pcos-diet-foods-to-eat-foods-to-avoid/" target="_blank">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="https://nutritionbylovneet.com/blog/curing-constipation-naturally/" class="post-thumbnail" target="_blank"><img src="{% static 'images/blog-images/How-To-Cure-Constipation-Naturally.jpg' %}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="https://nutritionbylovneet.com/blog/curing-constipation-naturally/" target="_blank">How To Cure Constipation Naturally</a></h3>
                            <div class="meta">
                                <span>by <a href="https://nutritionbylovneet.com/blog/curing-constipation-naturally/" target="_blank">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Blog Section -->
{% endblock %}




